<!DOCTYPE html>
<html>
<head>
    #parse("common/head.vm")
</head>

<body>
<!--header-->
    #parse("common/nav.vm")

<div class="container-fluid">
    <!--documents-->
    <div id="content" class="row row-offcanvas row-offcanvas-left">
        <!--left-->
        #parse("common/left.vm")

        <div id="right" class="col-xs-12 col-sm-9 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <div class="col-md-11">
                            <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a>
                                监控端 - 编辑/新增</h3>
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <h2 id="pageTitle">menu管理
                        <span style="color:red;">$!{errorMsg}</span>
                        <span style="color:green;">$!{successMsg}</span>
                    </h2>


                    <form id="menuForm" name="menuForm" action="/menu/save.vm" method="post">
                        <input type="hidden" name="id" value="$!{menu.id}"/>

                        <table class="table table-bordered table-striped formLayout m0">

                            <tr>
                                <td>菜单名称：</td>
                                <td>
                                    <input type="text" name="name" placeholder="" class="form-control" style="width: 200px;"
                                           value="$!{menu.name}" />
                                </td>
                            </tr>
                            <tr>
                                <td>url：</td>
                                <td>
                                    <input type="text" name="url" placeholder="" class="form-control" style="width: 200px;"
                                           value="$!{menu.url}" />
                                </td>
                            </tr>


                            <tr>
                                <th>菜单父节点</th>
                                <td>
                                    <select name="parentId" style="width: 200px;">
                                        #foreach(${menuTmp} in $!{rootMenuList})
                                            <option value="${menuTmp.id}"
                                                #if($!{menuTmp.id} == $!{menu.parentId}) selected="selected" #end
                                                    >${menuTmp.name}</option>
                                        #end
                                    </select>
                                    <span style="color:red;">*</span>

                                </td>
                            </tr>

                        </table>
                    </form>

                    <p>
                    <td colspan="2">
                        <a href="/menu/list.vm" class="btn btn-primary" role="button">返回</a>
                        <button onclick="document.getElementById('menuForm').submit()" class="btn btn-success">保存</button>
                    </td>
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>