<!DOCTYPE html>
<html>
  <head>
      #parse("common/head.vm")
  </head>
  <body>
        <!--header-->
      #parse("common/nav.vm")
    
        <div class="container-fluid">
        <!--documents-->
            <div id="content" class="row row-offcanvas row-offcanvas-left">
                <!--left-->
                #parse("common/left.vm")
                
                <div id="right" class="col-xs-8 col-sm-9 content">
                    <div class="panel panel-default" id="right-content">
                        
                    </div>
                </div>
                
            </div><!-- content -->
            <div id="footer"></div>
        </div>
      </div>
      
       
  </body>
</html>
