<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35}:%line - %msg%n </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE-ERR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${priest.log.path}/satellite/priest-satellite-agent-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${priest.log.path}/satellite/priest-satellite-agent-error.log.log.%d{yyyy-MM-dd}</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35}:%line - %msg%n </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${priest.log.path}/satellite/priest-satellite-agent.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${priest.log.path}/satellite/priest-satellite-agent.log.%d{yyyy-MM-dd}</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{35}:%line - %msg%n </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.kinstalk.satellite" additivity="false" >
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERR" />
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERR" />
    </logger>

    <logger name="com.mchange" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERR" />
    </logger>

    <logger name="org.mybatis" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERR" />
    </logger>

    <logger name="java.sql" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERR" />
    </logger>
    <logger name="org.apache" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERR" />
    </logger>

    <logger name="org.apache.zookeeper" level="warn"/>
    <logger name="org.springframework" level="info"/>


    <root level="${priest.log.level}">
        <appender-ref ref="FILE" />
    </root>
</configuration>